<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
        <div class="columns is-centered">
        <div class="column is-5-tablet is-5-desktop is-5-widescreen">
            <%if(msg){%>
            <article class="message is-small is-info">
                <div class="message-header">
                  <p>Info</p>
                  <button class="delete is-small" aria-label="delete"></button>
                </div>
                <div class="message-body">
                  <%-msg%>
                </div>
            </article>  
            <%}%> 
          <form action="/login" method="post" class="box">
            <div class="field">
              <label for="" class="label">Email</label>
              <div class="control has-icons-left has-icons-right">
                <input type="email" placeholder="e.g. bobsmith@gmail.com" name="username" class="input" required>
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
              </div>
            </div>
            <div class="field">
              <label for="" class="label">Password</label>
              <div class="control has-icons-left">
                <input type="password" placeholder="*******" class="input" name="password" required>
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <button class="button is-success">
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  $(".delete .is-small").on("click",function(){
    alert('hello');
    $(this).hide();
  })
    // function msgShow(msg){
    //     if(msg){
    //         swal.fire({
    //             icon:'error',
    //             title:'Oops..',
    //             text:msg
    //         });
    //         return false;
    //     }
    // }
</script>